 <!DOCTYPE html>
{% macro ploturl() -%}
https://isgermanyclean.today{{report["plot_fname"]}}
{%- endmacro %}
{% macro co2int(x) -%}
    <span class="co2int">
        {{x|round|int}}&nbsp;<abbr title="grams carbon dioxide-equivalent per kilowatt-hour">gCO2eq/kWh</abbr></span>
{%- endmacro %}
{% macro co2int_notag(x) -%}
    {{x|round|int}}&nbsp;gCO2eq/kWh
{%- endmacro %}
{% macro metadescrip() -%}
{% if report["from_today"] %} So far today, Germany has had {% else %} Yesterday, Germany had {% endif %} a carbon intensity in generation of {{ co2int_notag(report["co2_int"]["DE"]) }} compared to France's {{ co2int_notag(report["co2_int"]["FR"]) }}.  Germany has been cleaner than France for {{report["cleaner_hours"]}} hours this year.
{%- endmacro %}
<html>
    <title>Is Germany cleaner than France today?</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta property="description" content="{{ metadescrip() }}" />
    <meta property="og:title" content="Is Germany Cleaner than France today?" />
    <meta property="og:image" content="{{ ploturl() }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://isgermanyclean.today" />
    <meta property="twitter:title" content="Is Germany Cleaner than France today?" />
    <meta property="twitter:description" content="{{ metadescrip() }}" />
    <meta property="twitter:image" content="{{ ploturl() }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <head>
        {% assets "css" %}
        <link rel="stylesheet" type="text/css" href="/{{ASSET_URL}} ">
        {% endassets %}
    </head>
    <body>
        <div id="container">
            <div id="header">
            <h1>
                {% if report["from_today"] %}
                Is Germany cleaner than France today?
                {% else %}
                Was Germany cleaner than France yesterday?
                {% endif %}
                {% if report["co2_int"]["DE"] < report["co2_int"]["FR"] %}
                <span class="yes">Yes</span>
                {% else %}
                <span class="no">No</span>
                {% endif %}
            </h1>
            <p>
            {% if report["from_today"] %}
            So far today, Germany has had
            {% else %}
            Yesterday, Germany had
            {% endif %}
            a carbon intensity in generation of {{ co2int(report["co2_int"]["DE"]) }}
            compared to France's {{ co2int(report["co2_int"]["FR"]) }}.
            </p>
            <p>
            In the figure below each dot represents one of the
            <span class="hours">{{report["hours"]}} hours</span>
            with data so far this year.
            Germany was cleaner than France for
            {% if report["cleaner_hours"] == 0 %}
            <span class="no_cleaner_hours">
            {% else %}
            <span class="cleaner_hours">
            {% endif %}
                {{report["cleaner_hours"]}} hours</span>.
            </p>
            </div>

            <div id=plot">
                <a href="{{report["plot_fname"]}}">
                    <img src="{{report["plot_fname"]}}" />
                </a>
            </div>

            <div id="footer">
                <img id="yesplease" src="{{ url_for('static', filename='smiling_atom.png') }}" />
                Data provided by <a href="https://transparency.entsoe.eu/">ENTSO-E</a>.
                <a href="https://github.com/skircheis/isgermanyclean">Code on
                    Github</a> (MIT License).
                <a href="https://nuclearpoweryesplease.org/">"Smiling Atom"</a>
                icon used under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC NC-BY-SA</a>.
                Plots free to use for everyone except Greenpeace, persons and
                organisations affiliated with Greenpeace now or in the past, or
                anyone working on behalf or in support of Greenpeace.
            </div>
        </div>
    </body>

</html>
