 <!DOCTYPE html>
{% macro ploturl() -%}
https://isgermanyclean.today{{plot["fname"]}}
{%- endmacro %}
{%- macro co2int(x) -%}
<span class="co2int">{{x|round|int}}&nbsp;<abbr title="grams carbon dioxide-equivalent per kilowatt-hour">gCO<sub>2</sub>eq/kWh</abbr></span>
{%- endmacro %}
{%- macro co2int_notag(x) -%}
    {{x|round|int}}&nbsp;gCO2eq/kWh
{%- endmacro %}
{%- macro footnote() -%}
<sup><a class="footnote" href="#footnote">[&dagger;]</a></sup>
{%- endmacro %}
{%- macro metadescrip() -%}
{%- if report["from_today"] %} So far today, Germany has had {% else %} {{ report["date_str"].title() }} Germany had {% endif %} a carbon intensity in generation of {{ co2int_notag(report["co2_int"]["DE"]) }} compared to France's {{ co2int_notag(report["co2_int"]["FR"]) }}.  Germany has been cleaner than France for {{ report["cleaner_hours"] }} hours this year.
{%- endmacro -%}
<html lang="en-GB">
    <head>
        <title>Is Germany cleaner than France today?</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{{ metadescrip() }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="Is Germany cleaner than France today?" />
        <meta property="og:image" content="{{ ploturl() }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://isgermanyclean.today" />
        <meta property="twitter:title" content="Is Germany cleaner than France today?" />
        <meta property="twitter:description" content="{{ metadescrip() }}" />
        <meta property="twitter:image" content="{{ ploturl() }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        {% assets "css" -%}
            <link rel="stylesheet" type="text/css" href="/{{ ASSET_URL }} ">
        {%- endassets %}
    </head>
    <body>
        <div id="container">
            <div id="header">
            <h1>
                {% if report["present_tense"] %} Is {% else %} Was {% endif %} Germany cleaner than France {{ report["date_str"] }}?
                {% if report["co2_int"]["DE"] < report["co2_int"]["FR"] -%}
                <span class="yes">Yes</span>
                {%- else -%}
                <span class="no">No</span>
                {%- endif %}
            </h1>
            <p>
                {% if report["present_tense"] -%}
                So far today, Germany has had
                {%- else -%}
                {{ report["date_str"].title() }}{{ footnote() }} Germany had
                {%- endif %} a carbon intensity in generation of
                {{ co2int(report["co2_int"]["DE"]) }}
                compared to France's
                {{ co2int(report["co2_int"]["FR"]) }}.
            </p>
            </div>

            <div id=figure">
                <div id="plot">
                    <a href="{{ plot["fname"] }}">
                        <img
                            id="plot_img"
                            srcset="{{ plot["srcset"] }}"
                            sizes="{{ plot["sizes"] }}"
                            alt="A scatter plot with Germany's and France's carbon intensities of generation on the x- and y-axes, respectively.
                                 Each data point is one hour during {{ report["date"].strftime("%Y") }}.
                                 Out of {{ report["hours"] }} data points, {{ report["cleaner_hours"] }} lie above the line x = y, i.e., have Germany cleaner than France.
                            "
                        />
                    </a>
                </div>
                <div id="caption">
                    <p>
                        <b> Figure 1:</b> Each dot represents one of the <span class="hours">{{ report["hours"] }} hours</span> with complete data{{ footnote() }} so far this year.
                        Germany was cleaner than France for {% if report["cleaner_hours"] == 0 -%}
                            <span class="no_cleaner_hours">
                        {%- else -%}
                            <span class="cleaner_hours">
                        {%- endif -%} {{ report["cleaner_hours"] }} hours</span>.
                        {% if report["extrema"]["FR"][1] < report["extrema"]["DE"][0] %}
                        France's dirtiest hour
                        {{ "(" + co2int(report["extrema"]["FR"][1]) + ")" }}
                        had a lower carbon intensity than Germany's cleanest hour
                        {{ "(" + co2int(report["extrema"]["DE"][0]) + ")" }}.
                    </p>
                    {%- endif %}
                </div>
            </div>

            <div id="footer">
                <div id="yesplease">
                    <img
                        src="{{ url_for('static', filename='smiling_atom.png') }}"
                        width="128" height="128"
                        alt="The &quot;smiling atom&quot; logo: a smiling blue nucleus with three electron orbits around it, all surrounded by the words &quot;Nuclear power? Yes please&quot;"
                    />
                </div>
                <div id="footnote">
                    {{ footnote() }}
                    Occasionally some generation types report with long delays or are missing from ENTSO-E data.
                    Hours for which not all expected generation types have reported are excluded.
                    {% if not report["present_tense"] -%}
                    Data for all generation types was most recently available {{ report["date_str"] }}.
                    {%- endif %}
                </div>
                <div id="info">
                    <span class="hits">{{ unique_hits[0] }} visits </span> since {{ unique_hits[1] }}.
                    Data provided by <a href="https://transparency.entsoe.eu/">ENTSO-E</a>.
                    <a href="https://github.com/skircheis/isgermanyclean">Code on Github</a> (MIT License).
                    <a href="https://nuclearpoweryesplease.org/">"Smiling Atom"</a>
                    icon used under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>.
                    Plots free to use for everyone except Greenpeace, persons and organisations affiliated with Greenpeace now or in the past, or anyone working on behalf or in support of Greenpeace.
                </div>
            </div>
        </div>
    </body>

</html>
